@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");

* {
  box-sizing: border-box;
  border: none;
}
body {
  background-color: #a3c7d6;
  font-family: "Bakbak One", cursive;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.budget-container {
  margin-top: 5rem;
  border-radius: 30px;
  background: #e0e0e0;
}
.budget-text {
  padding: 0 2rem 2rem 2rem;
  font-size: 40px;
}

.expenses-container {
  margin-top: 5rem;
  border-radius: 30px;
  background: #e0e0e0;
}
.expense-text {
  padding: 0 2rem 2rem 2rem;
  font-size: 40px;
}
