@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");

* {
  box-sizing: border-box;
  border: none;
}
body {
  background-color: #3f3b6c;
  font-family: "Bakbak One", cursive;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.items-container {
  margin-top: 5rem;
  padding-bottom: 2rem;
  border-radius: 30px;
  background: #e0e0e0;
}
.container-text {
  margin-bottom: 0;
  padding: 0 2rem 2rem 2rem;
  font-size: 40px;
}
.buttons {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: #9f73ab;
  border-radius: 28px;
  border: 1px solid #3f3b6c;
  cursor: pointer;
  color: #000000;
  font-family: "Bakbak One", cursive;
  font-size: 18px;
  padding: 10px 15px;
  text-decoration: none;
}
.input {
  margin: auto;
  display: block;

  border: 1px solid #ffff;
  border-radius: 0.3rem;
  padding: 0.6rem 0.6rem;
  outline: none;

  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    gap: 0;
  }
}
